<!DOCTYPE html>
	<html lang="en">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src='/static/bootstrap/js/bootstrap.js'></script>
		<link rel="stylesheet" href="/static/css/navbar-fixed-top.css" type="text/css">
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<form action="/register" method="post">
						<fieldset class="well the-fieldset">
					        <legend class="the-legend">Register</legend>
							<table>
								<tr>
									<td>
										<label>Name:</label>
									</td>
									<td>
										<input type="text" name="name"><br>
									</td>
								</tr>
								<tr>
									<td>
										<label>Alias:</label>
									</td>
									<td>
										<input type="text" name="alias">
									</td>
								</tr>
								<tr>
									<td>
										<label>Email Address:</label>
									</td>
									<td>
										<input type="email" name="email">
									</td>
								</tr>
								<tr>
									<td>
										<label>Password:</label>
									</td>
									<td>
										<input type="password" name="password"><br>
										<span>*Password should be at least 8 characters</span>
									</td>
								</tr>
								<tr>
									<td>
										<label>Confirm PW:</label>
									</td>
									<td>
										<input type="password" name="confirm_password">
									</td>
								</tr>
								<tr>
									<td>
										<label>Date of birth:</label>
									</td>
									<td>
										<input type="date" name="dateofbirth" required>
									</td>
								</tr>
								<tr>
									<td>
									</td>
									<td class="alignRight">
										<button type="submit" name="Sign In" class="btn btn-success">Register</button>
									</td>
									
								</tr>
							</table>
					    </fieldset>
					</form>
					
				</div>
				
				<div class="col-md-6">
					<form action="/login" method="post">
						<fieldset class="well the-fieldset">
					        <legend class="the-legend">Login</legend>
							<table>
								<tr>
									<td>
										<label>Email Address:</label>
									</td>
									<td>
										<input type="email" name="email">
									</td>
								</tr>
								<tr>
									<td>
										<label>Password:</label>
									</td>
									<td>
										<input type="password" name="password">
									</td>
								</tr>
								<tr>
									<td>
									</td>
									<td class="alignRightx">
										<button type="submit" name="Sign In" class="btn btn-primary">Sign in</button>
									</td>
									
								</tr>
							</table>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="row">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							{%if message != ''%}
								<p>{{category}}: {{message}}</p>
							{%endif%}
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
	    </div> <!-- /container -->
	</body>
</html>
